#settingsDiv {
  visibility: hidden;
  padding: 1em;
  overflow-y: auto;
  color: #303942;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Cantarell, 'Segoe UI', Tahoma, sans-serif;
  box-shadow: 0 4px 23px 5px rgba(0,0,0,0.2), 0 2px 6px rgba(0,0,0,0.15);
  z-index: 8000;
}
#settingsDiv input[type='checkbox'],
#settingsDiv input[type='radio'] {
  width: 13px;
  height: 13px;
  margin-right: .6em;
  margin-top: -3px;
  vertical-align: middle;
}
#settingsDiv label {
  display: inline-block;
  color: #303942;
}
#settingsDiv input[type='text'] {
  box-sizing: border-box;
  color: #444;
  background: #fff;
  border: 1px solid #bfbfbf;
  min-height: 2em;
  border-radius: 2px;
  font: inherit;
  padding: 3px;
}
#settingsDiv button {
  background-image: linear-gradient(#ededed, #ededed 38%, #dedede);
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.08), inset 0 1px 2px rgba(255,255,255,0.75);
  color: #444;
  font: inherit;
  margin: 0 1px 0 0;
  outline: none;
  text-shadow: 0 1px 0 #f0f0f0;
}
#settingsDiv a {
  vertical-align: middle;
  text-decoration: none;
  color: #1155cc;
}
#settingsDiv button:hover {
  background-image: linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
  border-color: rgba(0,0,0,0.3);
  box-shadow: 0 1px 0 rgba(0,0,0,0.12), inset 0 1px 2px rgba(255,255,255,0.95);
  color: #000;
}
#settingsShade {
  z-index: 7999;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(100,100,100,0.45);
  width: 100%;
  height: 100%;
  opacity: 0;
}
.fadeIn {
  animation: fadeIn 200ms forwards;
}
.fadeOut {
  animation: fadeOut 200ms forwards;
}
@keyframes fadeIn {
  0% { opacity: 0; visibility: visible; }
  100% { opacity: 1; visibility: visible; }
}
@keyframes fadeOut {
  0% { opacity: 1; visibility: visible; }
  99% { opacity: 0; visibility: visible; }
  100% { opacity: 0; visibility: hidden; }
}
.banchecker-pagination input[type='button'] {
  display: inline-block;
  line-height: 24px;
  background: rgba(103,193,245,0.2);
  border: 1px transparent;
  border-radius: 3px;
  cursor: pointer;
  padding: 0 16px;
  color: #66c0f4;
}
.banchecker-pagination input[type='button']:hover {
  background: #66c0f4;
  border-color: #66c0f4;
  color: #fff;
}
.banchecker-bantext {
  display: block;
  color: #ff4949;
  font-size: 10px;
  font-weight: 500;
  margin-top: 4px;
  margin-bottom: 0;
  line-height: 1.25;
  white-space: normal;
  word-break: break-word;
  cursor: default;
}